<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi App</title>
</head>
<body>

    <h1>MENU PRINCIPAL</h1>

    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/sobrenosotros">Agregar tareas</a></li>
        <li><a href="/actualizar/1">Modificar datos registrados</a></li>
        <!--AQUI AGREGEN SUS ENLACES DE EDITAR Y ELIMINAR-->
    </ul>
    <!--- PARA MOSTRAR TABLA TAREAS -->
    <hr>

    <h3 style="text-align:center;">Tareas registradas</h3>

    {% if tareas %}
    <div style="display:flex; justify-content:center;">
    <table border="1" cellpadding="8" cellspacing="0" style="border-collapse:collapse; text-align:center;">
        <tr style="background-color:#f2f2f2;">
            <th>ID</th>
            <th>Título</th>
        </tr>
<!---1 -->

        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.titulo }}</td>
           <!---2 inicio --> 
            <td>
    <a href="{{ url_for('actualizar', id=tarea.id) }}" style="color: #2c3e50; font-weight: bold; text-decoration: none;">
        [ Modificar ]
    </a>
</td>
<!---fin -->

        </tr>
    {% endfor %}
    </table>
    </div>
    {% else %}
    <p style="text-align:center;">No hay tareas.</p>
    {% endif %}

    <hr>

    {% block contenido %}
    {% endblock %}

</body>
</html>